:root {
  /* --- Основные темные (Black/Dark Wine) --- */
  --black-150: #000;
  --black-100: #0a0104;
  --black-50: #140307;
  --black-10: #1c050a;

  /* --- Винные и бордовые (Wine) --- */
  --wine-150: #180409;
  --wine-100: #4a0e1c;
  --wine-50: #6b1428;
  --wine-10: #8b1d36;
  --wine-50-o-50: rgb(74 14 28 / 50%);
  --wine-10-o-20: rgb(139 29 54 / 20%);

  /* --- Красные акценты (Red) --- */
  --red-100: #b22a22;
  --red-50: #ff3b30;
  --red-10: #ff5e54;

  /* --- акценты (Cyan/Mint/Gold) --- */
  --cyan-100: #39a694;
  --cyan-50: #4cd9c0;
  --cyan-50-o-80: rgb(76 217 192 / 80%);
  --cyan-10: #76e7d3;
  --cyan-10-o-50: rgb(118 231 211 / 50%);
  --cyan-10-o-10: rgb(118 231 211 / 10%);
  --cyan-10-o-5: rgb(118 231 211 / 5%);
  --gold-100: #8c6a2c;
  --gold-50: #d4af37;
  --gold-10: #f1d592;
  --gold-10-o-15: rgb(241 213 146 / 15%);
  --gold-10-o-10: rgb(241 213 146 / 10%);

  /* --- Нейтральные и карточки (Gray/Light/White) --- */
  --white-100: #fff;
  --gray-80: #e9ecef;
  --gray-50: #ced4da;
  --gray-20: #a1a1a1;
  --gray-10: #2d2d2d;

  /* --- Спец-эффекты (Glass & Border) --- */
  --glass-white: rgb(255 255 255 / 8%); /* Эффект матового стекла */
  --glass-border: rgb(255 255 255 / 15%); /* Тонкие границы окон */
  --shadow-overlay: rgb(0 0 0 / 40%); /* Тень под модальным окном */
}
